body {
    font-family: sans-serif;
}

rect {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-item {
    margin-left: 15px;
    margin-right: 5px;
}

#map_container,
#line_chart_container,
#bar_chart_container,
#boxplot_container,
#scatterplot_container {
    border: 5px solid #b1d4e7;
}

#modal_container {
    text-align: center;
}


#battle_date,
#battle_location,
#battle_war,
#battle_outcome {
    text-align: left;
}

.modal-info {
    text-align: center;
    font-weight: 700!important;
}

.modal-link {
  color: #9e988d;
  &:hover {
    color: #000000;
  }
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}

#cumulativeBtn,
#centuriesBtn {
    margin: 5px;
}

svg text {
    pointer-events: none;
}

.won-line,
.lost-line {
    fill: none;
    stroke-width: 3;
}

.won-line {
    stroke: #33a02c;
}

.lost-line {
    stroke: #1f78b4;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}

svg .rect_b {
    fill-opacity: 0;
    stroke: #b1d4e7;
    stroke-width: 5px;
}

.state {
    fill: #b1d4e7;
    stroke: #b3b3b3;
    pointer-events: none;
}

.won {
    fill: #33a02c;
}

.lost {
    fill: #1f78b4;
}

.civil {
    fill: #b2df8a;
}

.uncertain {
    fill: #a6cee3;
}

.legend-label {
    fill: #808080;
}

.scattered {
    stroke-width: 0.5;
    stroke: black;
}

.section-title {
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
    color: #595959;
}

.footer-section p {
    margin-left: 10px;
}

.links-list {
    list-style-type: none;
    padding: 0;
    margin-left: 10px;
}

a.list-link {
    text-decoration: none;
    color: #808080;
}

a.list-link:hover {
    color: #000000;
}

.social-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.social-list li {
    display: inline;
    margin-left: 10px;
}

.social-list li a {
    color: #808080;
}

.social-list li .fa:hover {
    color: #000000;
}

.footer-section hr {
    margin-top: 20px;
    border-top-color: #595959;
}

.footer-section {
    margin-top: 48px;
}
